.space-align-block {
  padding: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.space-align-block .mock-block {
  width: auto;
  padding: 30px 25px 55px;
  background: #ffcc66;
  box-shadow: 5px 5px 6px gray;
  border-radius: 20px;
}
