.space-block {
  padding: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.space-block .mock-block {
  display: inline-block;
  padding: 30px 30px 55px;
  background: hwb(145 71% 25%);
  width: auto;
  padding: 30px 25px 55px;
  background: #ffcc66;
  box-shadow: 5px 5px 6px gray;
  border-radius: 20px;
}
