.space-block {
  margin: 30px 20px 4px;
  padding: 4px;
  align-items: center;
  display: flex;
}

.space-block .mock-block {
  display: inline-block;
  padding: 30px 20px 60px;
  background: #FFCC66;
}